/* common styles */

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.5rem;
}

/* title section */

.background-color {
  background-color: #264653;
}

.big-button {
  background-color: #e76f51;
  border-radius: 5px;
}

/* fetured bikes section  */

.best-bike-collection {
  color: #e76f51;
}

.bikes {
  margin-top: 7.15rem;
}

.bike {
  width: 18rem;
}

.gray-bike {
  filter: grayscale(100%);
}

/* happy clients says */

.color-text {
  color: #e76f51;
}
.user-img {
  width: 10rem;
  margin: 10px;
}

.user-3-img {
  border: 3px solid #bdbdbd;
}

.star {
  color: #e67c40;
  margin: 0px 5px;
}
.comment {
  color: #6c6c6c;
  font-weight: 400;
  line-height: 26px;
}

/* faq section  */

.answer {
  color: #7e848c;
}

/* service section  */

.service-icon {
  color: #e67c40;
}

/* form  */

.form-button {
  border: none;
}
.form-button:hover,
.form-button:focus {
  outline: none;
  background-color: #e76f51;
}
